# A example contextual action for use in e.g. Dolphin
[Desktop Entry]
Type=Service
Hidden=false
MimeType=audio/*;image/*;video/*
Actions=tss

[Desktop Action tss]
TryExec=tss
Icon=tag
Name=tss add change_me
Exec=tss add change_me %U
